.menu {
  display: flex;
  flex-direction: row;
}



.menu-img {
  position: relative;

  width: 50%;
  min-height: 500px;
  margin: 1% 1% 1% 1%;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(129, 151, 143);

  border: solid 30px var(--main-color-2);
}
.menu-img::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-logo-image {
  position: relative;
  width: 500px;
  max-width: 50%;

}

.menu-text {
  width: 50%;
  margin: 3% 5% 3% 5%;
}

.menu-text-title {
  font-size: 30px;
  text-align: start;

  color: var(--main-color-2);

  padding-bottom: 30px;
}

.menu-text-para {
  text-align: start;
  padding-bottom: 30px;
}

.menu-text-link {
  color: var(--main-color-2);
  font-weight: 400;

  cursor: pointer;

  text-align: start;
  padding-bottom: 20px;

  text-decoration: underline;
}