/* -------------------- visit-------------------- */
.visit-style{
    color: var(--main-color-2);
    text-align: center;
    background-color: var(--main-color-1);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.set-address{
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    height: auto;
    letter-spacing: 2.5199999809265137px;
    line-height: 80px;
    }

    a { color: inherit; } 
    .set-open-day{
        font-size: 20px;
    }

    .set-open-time{
        display:flex;
        justify-content: center;
        flex-direction: column;
        line-height: 0px;
        
    }

.open-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  