.footer-new {
    display: flex;
    flex-direction: row;
    padding: 2% 2% 2% 2%;
    background-color: var(--main-color-1);
    color: var(--main-color-2);
  }
  
  .footer-new-left {
    display: flex;
    width: 50%;
  }
  
  .footer-new-left-patchs {
    display: flex;
    
  }
  
  .footer-new-left-patchs-icon {
    font-size: 27px;
    padding-right: 20px;
  }
  
  .footer-new-right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  
  .footer-new-right-text {
    font-size: 18px;
  }